body{
    background-color: #F5F8FF;
}

.inter{
  font-family: "Inter", sans-serif;
  font-style: normal;
}

.raleway{
  font-family: "Raleway", sans-serif; 
  font-style: normal;
}
.navbar-head{
    background: url(Assets/Hero-bg.png);
}
.navbar-logo-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
}
.navbar-logo-section h1{
    font-size: 34px;
    font-variation-settings: 'wdth' 99;
    font-weight: 800;
    color: #4E47FF;
}

.navbar-main-banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 1440px;
    height: 500px;
}
.navbar-main-banner h1{
    font-size: 65px;
    font-weight: 600;
}

button{
    color: white;
    border: none;
    padding: 10px 25px;
    font-size: 16px;
    font-weight: 300;
    border-radius: 10%;
    background-color: #4E47FF;
    transition-duration: 1.5s;
}
button:hover{
    transform: scale(1.1);
}

.action-section{
    margin: 100px;
    display: flex;
    justify-content: space-between;
}
.action-text-section h1{
    font-size: 42px;
    font-weight: 600;
}
.action-text-section p{
    font-size: 24px;
    color: #6b697f;
    line-height: 30px;
}
.action-image-section img{
    border-radius: 40px;
}
.join-number-section{
    display: flex;
    gap: 90px;

}
.join-text-section h1{
    font-size: 38px;
}
.join-number-section h1{
    font-size: 80px;
    color: #4E47FF;
    margin: 0;
}
.join-number-section p{
    color: #67666f;
    font-size: 18px;
    text-align: center;
    margin: 0; 
}
.join-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #dad9fd;
    padding-bottom: 50px;
    padding-top: 20px;
    margin: 100px;
    border-radius: 20px;
}

.what-our-users-section{
    margin: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
}

.what-users-card-section{
    display: flex;
    gap:270px;
    padding: 20px;
  
}
.card-section{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 40px;

    
}
.set-cards{
      
      background-color: white;
      padding: 15px;
      padding-right: 70px;
      border-radius: 20px;
}
.reviewer{
    display: flex;
}
.reviewer img{
    height: 70px;
    width: 70px;
    border-radius: 50%;
}
.footer-section{
    background-color: #FFFFFF;
    padding: 10px;
}
.footer-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
}
.footer-links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:50px;
}
.footer-details h1{
    color: #4E47FF;
    font-size: 121px;
    margin: 0;
}
.footer-details p{
    text-align: center;
    
    color: #8987A1;
}
.footer-links a{
    text-decoration: none;
    color: #8987A1;
}